:root {
    font-size: 1vw;
}

body {
    background-color: hsl(216, 12%, 8%);
}

@font-face {
    font-family: Overpass;
    src: url("./Overpass/Overpass-VariableFont_wght.ttf");
}

.container {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: hsl(213, 19%, 15%);
    border-radius: 25px;
    font-family: Overpass;
}

#star-icon-wrapper {
    position: relative;
    top: 28px;
    left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 90%;
    background-color: hsl(210, 14%, 21%);
}

#star-icon {
    position: relative;
    top: 11.5px;
    left: 11.5px;
}

.content {
    position: relative;
    left: 28px;
}

#title {
    position: relative;
    color: white;
    font-size: 23px;
    top: 32px;
}

#message {
    position: relative;
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    top: 20px;
    padding-right: 50px;
    line-height: 1.6;
}

.rating {
    position: relative;
    top: 28px;
    margin-right: 14px;
    width: 44px;
    height: 44px;
    border-radius: 90%;
    background-color: hsl(210, 14%, 21%);
    color: hsl(217, 12%, 62%);
    font-weight: bold;
    text-align: center;
    border: none;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}


.rating2 {
    position: relative;
    top: 28px;
    margin-right: 14px;
    width: 44px;
    height: 44px;
    border-radius: 90%;
    background-color: hsl(217, 12%, 63%);
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
}

#submit {
    position: relative;
    top: 50px;
    background-color: hsl(25, 97%, 53%);
    padding: 12px 117px 12px 117px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.4px;
}

#submit:hover {
    background-color: white;
    color:hsl(25, 97%, 53%);
}

#thank-you-image {
    position: relative;
    top: 30px;
    left: 85px;
    
}

#image {
    transform: scale(0.9);
}

#rating-response {
    margin-top: 15px;
    margin-left: 6px;
    width: 170px;
    padding: 5px 0px 4px 0px;
    background-color: hsl(210, 14%, 21%);
    border-radius: 14px;
    text-align: center;
    font-size: 13.5px;
    color:hsl(25, 97%, 53%);
}

#thank-you {
    color: white;
    margin-top: 27px;
    margin-left: 27px;
    font-size: 26px;
}

#thank-you-content {
    position: relative;
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    text-align: center;
    top: 5px;
    right: 81px;
    padding: 0px 35px 0px 20px;
    line-height: 1.6;;
}

@media (max-width: 400px) {
   .container {
    width: 88vw;
    height: 88vw;
   }

   #title {
    top: 30px;
    font-size: 6.3rem;
   }
   
   #message {
    top: 15px;
    font-size: 3.7rem;
   }
   
   .rating {
    top: 18px;
    width: 11.7vw;
    height: 11.7vw;
   }


   #submit {
    top: 37px;
    padding: 2.8vw 29vw 2.8vw 29vw;
   }
}
