body {
    background-color: hsl(216, 12%, 8%);  
}

@font-face {
    font-family: Overpass;
    src: url("./Overpass/Overpass-VariableFont_wght.ttf");
}

.outer-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 22rem;
    height: 22rem;
    background-color: hsl(213, 19%, 15%);
    border-radius: 25px;
    font-family: Overpass;
    padding: 30px;
    box-sizing: border-box;
}
#wrapper1 {
    position: relative;
    width: 100%;
    min-width: 230px;
    height: 100%;
}

#star-icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 90%;
    background-color: hsl(210, 14%, 21%);
}

#star-icon {
    position: relative;
    top: 11.5px;
    left: 11.5px;
}

.content {
    position: relative;
    width: 100%;
}

#title {
    position: relative;
    color: white;
    font-size: 23px;
    margin-block-end: 0em;
}

#message {
    position: relative;
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    margin-block-start: 0.7rem;
    line-height: 1.6;
}

.rating-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.rating {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 90%;
    font-weight: bold;
    text-align: center;
    border: none;
}

.inactive {
    background-color: hsl(210, 14%, 21%);
    color: hsl(217, 12%, 62%);
}

.active {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}


#submit {
    position: absolute;
    bottom: 0;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.4px;
}

#submit:hover {
    background-color: white;
    color:hsl(25, 97%, 53%);
}

#wrapper2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image {
    transform: scale(0.85);
}

#rating-response {
    position: relative;
    top: 15px;
    width: 170px;
    padding: 5px 0px 4px 0px;
    background-color: hsl(210, 14%, 21%);
    border-radius: 14px;
    text-align: center;
    font-size: 0.9em;
    color:hsl(25, 97%, 53%);
}

#thank-you {
    margin: 40px 0 10px 0;
    color: white;
    font-size: 2em;
}

#thank-you-content {
    position: relative;
    color: hsl(217, 12%, 63%);
    font-size: 0.8em;
    text-align: center;
    line-height: 1.6;;
}

@media (max-width: 400px) {
   .container {
    width: 80vw;
    min-width: 290px;
    height: 80vw;
    min-height: 290px;
    padding: 25px;
   }

   #title {
    margin-block-start: 0.8em;
    font-size: 1.3rem;
   }
   
   #message {
    margin-block-start: 0.7em;
    margin-block-end: 1.2em;
    font-size: 0.75rem;
   }

   .rating-buttons {
    margin-top: 0;
   }

   #star-icon-wrapper {
    width: 35px;
    height: 35px;
   }

   #star-icon {
    top: 9.5px;
    left: 9.5px;
    transform: scale(0.9);
    }

   .rating {
    width: 2.5rem;
    height: 2.5rem;
   }

   #submit {
    height: 2rem;
    letter-spacing: 1.2px;
   }

    #image {
        transform: scale(0.6);
    }

    #rating-response {
        font-size: 0.85em;
        top: 0;
        margin-bottom: 20px;
    }

    #thank-you {
        margin: 0 0 5px 0;
        font-size: 1.6em;
    }

    #thank-you-content {
        font-size: 0.75em;
    }
}
